<div class="d-flex flex-column justify-content-center align-items-center m-3">
  <h1>Bienvenidos</h1>
</div>

<div class="contenedor d-flex flex-row justify-content-around">
  <div class="col-6">
    {{> newProduct}}
    {{> products}}
   
  </div>
  <div class="col-6">
    {{> chat}}

    
  </div>


</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src='/socket.io/socket.io.js'></script>
<script src='js/form.js'></script>
{{!-- <script src="js/chat.js"></script> --}}
