
<div class="container d-flex flex-column justify-content-center align-items-center m-3">
  
  <div class="col-6 d-flex justify-content-center">
    <form id="productForm col-6">
      <label for="title" class="form-label" >Producto</label>
      <input id="title" class="form-control" name="title"placeholder='nombre  del producto'>
      <label for="price"class="form-label">Precio</label>
      <input id="price" class="form-control" name="price"placeholder='precio numérico'>
      <label for="image"class="form-label">Imagen URL</label>
      <input type='text' class="form-control" name='image' placeholder='ingrese una imagen'/>
      <button id='boton' type="submit"class="btn btn-success">Agregar</button>
      
    </form>
  </div>
</div>
